/* Chỉ thị Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles mặc định từ Create React App */
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;    /* Cố định header */
  top: 0;             /* Nằm ở trên cùng */
  left: 0;            /* Nằm ở bên trái */
  width: 100%;        /* Độ rộng 100% */
  z-index: 50;        /* Đảm bảo nó nằm trên các phần tử khác */
  height: 70px;       /* Đặt chiều cao cho header */
}