.create-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/images/fptu-hcm.jpeg');
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

.create-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Giới hạn chiều rộng */
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute; /* Thiết lập vị trí tuyệt đối */
  top: 50%; /* Đưa form xuống giữa chiều dọc */
  left: 50%; /* Đưa form vào giữa chiều ngang */
  transform: translate(-50%, -50%); /* Dịch chuyển lên và sang trái một nửa chiều cao và chiều rộng của form */
}

.form-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; /* Giúp nội dung không tràn ra ngoài */
}

.submit-button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: orange;
}

.user-form select {
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
}

.user-form h1 {
  text-align: center;
  color: orange; 
  font-size: 24px;
  margin-bottom: 20px;
}
