.container {
  padding: 20px;
}

.createButton {
  margin-bottom: 10px;
  background-color: #4CAF50; /* Màu nền cho nút */
  color: white; /* Màu chữ */
  border: none;
  padding: 10px 15px; /* Padding cho nút */
  border-radius: 5px; /* Bo tròn góc */
  cursor: pointer; /* Con trỏ chuột khi hover */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.createButton:hover {
  background-color: #45a049; /* Màu khi hover */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}

.textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

.popupActions {
  display: flex;
  justify-content: space-between;
}

.searchInput {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

.rowsPerPage {
  margin: 10px 0;
}

.groupTable {
  width: 100%;
  border-collapse: collapse;
}

.groupTable th,
.groupTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  min-width: 150px; /* Đặt chiều rộng tối thiểu cho mỗi cột */
}

.groupTable th {
  cursor: pointer;
  background-color: #f2f2f2;
}

.contactButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
  display: flex; /* Sử dụng flex để căn giữa */
  justify-content: center; /* Căn giữa nội dung */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.pagination button {
  margin: 0 10px; /* Khoảng cách giữa các nút */
  background-color: #007bff; /* Màu nền cho nút */
  color: white; /* Màu chữ */
  border: none;
  padding: 5px 10px; /* Padding cho nút */
  border-radius: 5px; /* Bo tròn góc */
  cursor: pointer; /* Con trỏ chuột khi hover */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.pagination button:hover {
  background-color: #0056b3; /* Màu khi hover */
}

.pagination span {
  margin: 0 10px; /* Khoảng cách giữa văn bản và các nút */
  font-weight: bold; /* Chữ đậm */
}
