.user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Giới hạn chiều rộng */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Giúp nội dung không tràn ra ngoài */
  }
  
  .submit-button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #f88b05;
  }
  
  .user-form select {
    appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    color: #f88b05; /* Đổi màu thành trắng */
    font-size: 24px;
    margin-bottom: 20px;
  }
  